<body>
  <a rel="stylesheet" href="/Movies">Check the Movies</a>
{{!-- <img id="backgroundImg" src="/images/cinema.jpg" alt="backgroundImg"> --}}
<h1>CINEMA IRONHACK{{title}}</h1>
<p>{{title}}</p>
</body>